@import './theme.scss';
//breakpoints

$breckpoint_XXL: "max-width: 1400px";
$breckpoint_XL: "max-width: 1200px";
$breckpoint_LG: "max-width: 992px";
$breckpoint_MD: "max-width: 768px";
$breckpoint_SM: "max-width: 576px";
$breakpoint_450: "max-width: 450px";
$breckpoint_ESM: "max-width: 385px";
$breckpoint_340: "max-width: 355px";

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$txt-black: var(--txt-black);
$txt-white: var(--txt-white);
$grey-color: var(--grey-color);
$txt-light: var(--txt-light);
$hover-color: var(--hover-color);
$bg-main-color: var(--bg-main-color);
$footer-link: var(--footer-link);
$bg-gradient: var(--bg-gradient);
$bg-gradient-blue: var(--bg-gradient-blue);
$footer-bg-color: var(--footer-bg-color);
$card-bg-color: var(--card-bg-color);
$card-bg-hover: var(--card-bg-hover);
$table_background_linear: var(--table_heading_color);
$border-color: #e2e8ea54;
$sub-head:var(--sub-head);
$txt-shadow-half: var(--txt-shadow-half);
$txt-shadow-full: var(--txt-shadow-full);
$dark_black: var(--dark_black);
$login_page: var(--login_page);
$login_border: var(--login_border);
$faq: var(--faq);
$card-bg-color: var(--card-bg-color);
$card-bg-hover: var(--card-bg-hover);
$support_banner: var(--supported_banner);
$fee_banner: var(--fee-banner);
$blue_different: var(--blue-different);

$border-color-light: 1px solid rgba(228, 228, 228, 0.1607843137);
$dashboard-card-color: var(--dashboard_card_color);
$dashboard-card-color2: var(--dashboard_card_color2);

.coustom_container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
  
    @media ($breckpoint_XL) {
      padding: 0 40px;
    }
  
    @media ($breckpoint_LG) {
      padding: 0 30px;
    }
  
    @media ($breckpoint_MD) {
      padding: 0 18px;
    }
  
    @media ($breckpoint_SM) {
      padding: 0 15px;
    }
  }
  